body {
	background: url(./img/blossom.jpg)
	  no-repeat center;
	background-size: cover;
	text-align: center;
	font-family: 'Poppins', sans-serif;
  }
  .contact p, .form {
	margin: auto;
	color: #fff;
	width: 500px;
	font-size: 20px;
	line-height: 1.5;
	position:relative; left:0px; top:200px;
	padding: 10px;
	background: rgba(0,0,0,.8);
	text-align: left;

  }
  .form {
	text-align: center;
  }
  input, textarea {
	width: 80%;
	margin: 0 auto 10px auto;
	padding: 5px;
	font-size: 14px;
	display: block;
  }
  input[type=submit] {
	margin: 50px auto;
	font-size: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #5e8da8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 15px;
	border: 0;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 3px;
  }
  input[type=submit]:hover {
	cursor: pointer;
  }